DISCORD_TOKEN=
DISCORD_CLIENT_ID=

REMOTE_USER="user"
REMOTE_HOST="11.11.11.111"
REMOTE_DIR="~/docker/discordclanker"

LOG_LEVEL=DEBUG

# Set to false during local dev to avoid Discord's global sync rate limit
SYNC_COMMANDS=true

